{% extends "AppCoder/padre.html" %}
 
{% load static %}

{% block title %} 
<title>Noticias</title>
{% endblock title %}

{% block content %}

    <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="../../static/AppCoder/media/grupos.png" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">14 de septiembre de 2022</div>
                            <h2 class="card-title h4">Grupos del Mundial Qatar 2022</h2>
                            <p class="card-text">Así quedó definida la primera fase de Qatar 2022 y los cruces iniciales. El detalle, zona por zona.</p>
                            <a class="btn btn-primary" href="{% url 'Noticia1' %}">Leer más →</a>
                        </div>
                    </div>

                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="../../static/AppCoder/media/ciudad.png" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">28 de agosto de 2022</div>
                                    <h2 class="card-title h4">Qatar: datos sobre el país</h2>
                                    <p class="card-text">Aprendé 5 datos sobre el país anfitrión!</p>
                                    <a class="btn btn-primary" href="{% url 'Error' %}">Leer más →</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="../../static/AppCoder/media/estadio.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">10 de septiembre de 2022</div>
                                    <h2 class="card-title h4">Inauguración del estadio de la final</h2>
                                    <p class="card-text">A 72 días del inicio del torneo ya están en funcionamiento los ocho escenarios de los partidos.</p>
                                    <a class="btn btn-primary" href="{% url 'Error' %}">Leer más →</a>
                                </div>
                            </div>
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="../../static/AppCoder/media/viaje.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">01 de septiembre de 2022</div>
                                    <h2 class="card-title h4">Se regalan viajes al mundial para aquellos que no tengan entradas!</h2>
                                    <p class="card-text">Los organizadores del Mundial regalan viajes para aquellos hinchas que tengan entrada para un partido.</p>
                                    <a class="btn btn-primary" href="{% url 'Error' %}">Leer más →</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination-->
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="../../static/AppCoder/media/qatar.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">12 de agosto de 2022</div>
                                    <h2 class="card-title h4">Fechas importantes de Qatar 2022</h2>
                                    <p class="card-text">El mundial de Qatar se jugará del 20 de noviembre al 18 de diciembre de 2022.</p>
                                    <a class="btn btn-primary" href="{% url 'Error' %}">Leer más →</a>
                                </div>
                    </div>
                <div>

            </div>
        </div>
    
{% endblock %}