{% extends "AppCoder/padre.html" %}
 
{% load static %}

{% block title %} 
<title>Contact</title>
{% endblock title %}

{% block content %}

    
    <!--========================================================== -->
    <!-- SECCION CONTACTOS-->
    <!--========================================================== -->

    <section id="seccion-contacto" class="border-bottom border-secondary border-2">
        <div id="bg-contactos">
                <path fill="#1b2a4e" fill-opacity="1"
                    d="M0,32L120,42.7C240,53,480,75,720,74.7C960,75,1200,53,1320,42.7L1440,32L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
                </path>
            </svg>
        </div>


        <!--========================================================== -->
        <!-- CONTENEDOR DEL FORMULARIO -->
        <!--========================================================== -->

        <div class="container" style="max-width: 500px" id="contenedor-formulario">
            <div class="text-center mb-4" id="titulo-formulario">
               
                
                <div><img src="../../static/AppCoder/media/Contacto.jpeg" alt="" class="img-fluid ps-5"></div>
                <h2>Contáctanos</h2>
                <p class="fs-5">Estamos aqui para brindar apoyo.</p>
            </div>
            
            <form action="" method="POST">{% csrf_token %}
                <table>
                    {{miFormulario.as_table}}
                    
                </table>
                <input type="submit" value="Enviar">
            </form>

            <!-- <form action="" method="POST">{% csrf_token %}
                
                <div class="mb-3">
                    <input type="input" class="contactosFormulario" id="email" name="email" placeholder="nombre@ejemplo.com">
                </div>


                <div class="mb-3">
                    <input type="input" class="contactosFormulario" id="nombre" name="nombre" placeholder="John Doe">
                </div>


                <div class="mb-3">
                    <input type="input" class="contactosFormulario" name="contactotelefonico" id="contactotelefonico" placeholder="Teléfono">
                </div>

                <div class="mb-3">
                    <textarea class="contactosFormulario" name="mensaje" id="mensaje" rows="4"></textarea>
                </div>

                <input type="submit" value="Enviar">
            </form> -->

        </div>
    </section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  {% endblock %}
  