{% extends "AppCoder/padre.html" %}

{% load static %}

{% block title %}
<title>Construcción</title>
{% endblock title %}

{% block content %}

<header>
        <div class="row gx-10 gx-lg-10 row-cols-10 row-cols-md-1 row-cols-xl-3 justify-content-center">
        
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="../../static/AppCoder/media/Construccion.jpeg" alt="..." />
            <!-- Product details-->
    
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <p class="lead fw-normal text-black-25 mb-0" style="color:black"> <b> Página en construcción... </b> <br> {{fecha}}
            </p>
        </div>
    </div>
</header>

{% endblock %}