{% extends "AppCoder/padre.html" %}
 
{% load static %}

{% block title %} 
<title>Nosotros</title>
{% endblock title %}

{% block content %}

<!-- Header-->
<header style= "background-image: url('../../static/AppCoder/media/Pelota2.jpg')">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder" style="color:black">ACERCA DE NOSOTROS</h1>
            <p class="lead fw-normal text-black-25 mb-0" style="color:black"> <b>Somos un grupo de emprendedores, profesionales de la programación, y entusiastas de este hermoso deporte que es el fútbol.<br>
                Nuestro objetivo con este proyecto es llevar a tu hogar información fresca y actualizada sobre el Mundial Qatar 2022, que está a punto de comenzar. Disfrutamos de informarte y también que puedas expresarte en nuestro divertido Blog, donde pasamos horas leyendo tus comentarios.<br>
                También trabajamos para entregarte productos de calidad relacionados con el Mundial y el fútbol, a precios accesibles. El Mundial es una fiesta, y queremos que vos también formes parte de ella, desde cualquier parte del mundo en la que estés.<br>
                Marhaban bikum fi Qatar!</b>
            </p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="../../static/AppCoder/media/Sofi.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Sofía Levin</h5>
                            <!-- Product price-->
                            Mi nombre es Sofia Levin, soy argentina y soy ingeniera mecánica. Me gusta ir al gimnasio en mi tiempo libre.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="../../static/AppCoder/media/Nico.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Nicolás Cide</h5>
                            <!-- Product reviews-->
                            Mi nombre es Nicolás Cide, soy argentino y estudiante de Ingeniería en Sistemas. Me gusta salir con mis amigos en mi tiempo libre.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="../../static/AppCoder/media/Santi.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Santiago Ferrero</h5>
                            <!-- Product price-->
                            Mi nombre es Santiago, y soy uruguayo. Soy Contador, y me gusta hacer música y pintar cuadros.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="../../static/AppCoder/media/Fati.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Fátima Albornoz</h5>
                            <!-- Product price-->
                            Mi nombre es Fátima Albornoz, soy uruguaya. Soy Ingeniera en Telecomunicaciones. Me gusta la gestión de proyectos, viajar y compartir tiempo con amigos.
                            
                        </div>
                    </div>
                    
        </div>
    </div>
</section>

{% endblock %}