{% extends "AppCoder/padre.html" %}

{% load static %}

{% block title %} {% endblock %}

{% block h1 %} <h1 class="mb-5">Grupos del Mundial Qatar 2022</h1> {% endblock %}
    
{% block content %}
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-10">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">Grupos del Mundial Qatar 2022</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">14 de septiembre de 2022</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Mundial</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Qatar</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Países</a>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="../../../static/AppCoder/media/grupos.png" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">El 1° de abril, en Doha se llevó a cabo el sorteo del Mundial y las selecciones participantes ya saben cuáles serán sus rivales en la fase de grupos de Qatar 2022, así como los eventuales caminos que deberían recorrer para avanzar en el torneo hasta una hipotética final.</p>
                            <p class="fs-5 mb-4"><b>Grupo A:</b> <br> Qatar <br> Ecuador <br> Senegal <br> Países Bajos</br></p>
                            <p class="fs-5 mb-4"><b>Grupo B:</b> <br> Inglaterra <br> Irán <br> Estados Unidos <br> Gales</br></p>
                            <p class="fs-5 mb-4"><b>Grupo C:</b> <br> Argentina <br> Arabia Saudita <br> México <br> Polonia</br></p>
                            <p class="fs-5 mb-4"><b>Grupo D:</b> <br> Francia <br> Australia <br> Dinamarca <br> Túnez</br></p>
                            <p class="fs-5 mb-4"><b>Grupo E:</b> <br> España <br> Costa Rica <br> Alemania <br> Japón</br></p>
                            <p class="fs-5 mb-4"><b>Grupo F:</b> <br> Bélgica <br> Canadá <br> Marruecos <br> Croacia</br></p>
                            <p class="fs-5 mb-4"><b>Grupo G:</b> <br> Brasil <br> Serbia <br> Suiza <br> Camerún</br></p>
                            <p class="fs-5 mb-4"><b>Grupo H:</b> <br> Portugal <br> Ghana <br> Uruguay <br> Corea del Sur</br></p>
                        </section>
                    </article>
                </div>

{% endblock %}

